
    <div class="container">

        <div class="heading">
            <h1>Greeting</h1>
        </div>
    </div>

    <div>

        <textarea cols="30" rows="3" class="nameEntered" value="" placeholder="Enter Name"></textarea>
    </div>
    <div class="counter">
        

    </div>

    <div class="radioButton">


        <input type="radio" name="language" class="language" value="English">English
        <input type="radio" name="language" class="language" value="isiZulu">isiZulu
        <input type="radio" name="language" class="language" value="isiXhosa"> isiXhosa
    </div>
    <div>
        <button class="greet me btn">Greet me!</button>
    </div>

    <div class="message">

    </div>
    

    {{!-- <script src="greet-dom.js"></script> --}}


</html>